<!-- main.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="styles/main3.css">
</head>
<body>
    <h1>Quiz</h1>
    <form action="/submit-quiz" method="POST">
        <% questions.forEach((question, index) => { %>
            <div class="question">
                <h3><%= index + 1 %>. <%= question.questions %></h3>
                <ul>
                    <li><input type="radio" name="answer<%= index %>" value="option1"> <%= question.option1 %></li>
                    <li><input type="radio" name="answer<%= index %>" value="option2"> <%= question.option2 %></li>
                    <li><input type="radio" name="answer<%= index %>" value="option3"> <%= question.option3 %></li>
                    <li><input type="radio" name="answer<%= index %>" value="option4"> <%= question.option4 %></li>
                </ul>
            </div>
        <% }); %>
        <button type="submit">Submit Quiz</button>
    </form>
</body>
</html>
