<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello player</h1>
    <h3 class="ques"><%= locals.question %></h3>
    <ul>
        <li><%=option1%></li>
        <li><%=option1%></li>
        <li> <%=option1%> </li>
        <li><%=option1%></li>
        
    </ul>
    <button>next</button>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const inputs = document.getElementById('inputs').value;
        


        
         
    </script>
</body>
</html>